[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
email-validator = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pyright = "*"
mypy = "*"

[requires]
python_version = "3.12"

[scripts]
# Dzieki temu projekt uruchamiasz komenda "pipenv run start"
start = "python main.py"
check = "pyright"
check2 = "mypy src tests main.py"
test = "pytest --cov=src --cov-report=html"
